.form__input {
  width: 358px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding-bottom: 13px;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 16px;
  outline: none;
  box-shadow: none;
}

.form__input-title {
  margin: 0 0 9px 0;
  color: #2F71E5;
  font-family: Inter;
  font-size: 12px;
  line-height: 15px;
}

.form__input:focus:required:invalid {
  border-bottom: 1px solid #FF0000;
}

.popup__error {
 color: #FF0000;
 font-weight: 400;
 font-size: 12px;
 line-height: 1.2;
 margin: 0;
  width: 358px;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: 288px;
  }

  .popup__error {
    width: 288px;
  }
}