.about {
  display: flex;
  flex-direction: row;
}

.about__author-image {
  margin: 80px 56px 80px 104px;
}

.author__text-container {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  width: 600px;
}

.author__title {
  font-family: Roboto-Slab;
  font-weight: 400;
  font-size: 40px;
   line-height: 1.2;
}

.author__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.3;
}