.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about__author-image {
  margin: 80px 56px 80px 104px;
}

.author__text-container {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  width: 600px;
}

.author__title {
  font-family: Roboto-Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
}

.author__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.3;
  overflow-wrap: none;
}

@media screen and (max-width: 950px) {
  .about__author-image {
    width: 363px;
    height: 363px;
  }
  .author__text-container{
    width: 350px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 430px) {
  .about__author-image {
    width: 272px;
    height: 272px;
  }
  .author__text-container{
    width: 288px;
  }
  .author__title {
    font-size: 30px;
  }
}