.about {
  display: flex;
  max-width: 1440px;
  width: calc(100% - 320px);
}

.about__author-image {
  margin: 80px 56px 80px 104px;
  width: 464px;
  height: 464px;
}

.author__text-container {
  display: flex;
  flex-direction: column;
  margin-top: 131px;
  width: 600px;
}

.author__title {
  font-family: Roboto-Slab;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
}

.author__text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.3;
  overflow-wrap: none;
}

@media screen and (max-width: 1024px) {
  .about__author-image {
    width: 363px;
    height: 363px;
  }
  .author__text-container{

  }
}

@media screen and (max-width: 768px) {
  .about {
    width: calc(100% - 80px);
  }
  .author__title {
    font-size: 30px;
    line-height: 1.3;
  }
  .about__author-image {
    width: 232px;
    height: 232px;
  }
   .author__text-container{
    margin-top: 40px;
    width: 424px;
  }

}

@media screen and (max-width: 650px) {
  .about {
    width: calc(100% - 32px);
    flex-direction: column;
    margin-top: 32px;
  }

  .about__author-image {
    width: 272px;
    height: 272px;
    margin: 0 auto 24px auto;
  }
  .author__text-container{
    width: 288px;
    margin: 0 auto 128px auto;
  }
  .author__title {
    font-size: 30px;
  }
}