.navigation__menu {
  display: none;
}

.navigation__home-link {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation__saved-articles-link {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 450px) {
  .navigation__menu {
   display: unset
  }
}