.navigation__menu {
  display: none;
}

.navigation__list {
  display: none;
  background-color: #1A1B22;
}

.navigation__home-link {
  text-decoration: none;
  color: #FFFFFF;
}

.navigation__saved-articles-link {
  text-decoration: none;
  color: #FFFFFF;
  display: none;
}

.navigation:hover .navigation__list {
    display: unset;
}

@media screen and (max-width: 450px) {
  .navigation__menu {
   display: unset;
  }
}