.header {
  margin: 0;
  max-width: 1800px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3)
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px 26px 104px;
}

.header__home-link {
  color: white;
  margin-right: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 23px;
  cursor: pointer;
}
.header__sign-in {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px 50px;
  width: 176px;
  margin: 0;
  cursor: pointer;
}