.search-form__results {
  background-color: #F5F6F7;
}

.header__search-results-button-container {
  display: flex;
}

.header__search-results-button {
  border: none;
  background-color: #FFFFFF;
  border-radius: 35px;
  width: 288px;
  height: 64px;
  margin: 0 auto 80px auto;
  padding: 0;
  cursor: pointer;
}

.header__search-results-button:hover {
opacity: 0.6;
}
