.footer {
  max-width: 1440px;
  width: calc(100% - 208px); 
  margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 26px;
}

.footer__copyright {
  color: #B6BCBF;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__page-links{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__link {
  margin-right: 40px;
  text-decoration: none;
  color: #1A1B22;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.footer__social-links {
  margin: 0;
  padding: 0;
}

.footer__social-link {
  margin-left: 24px;
}

.footer__social-icon {
  margin: 0;
}

.footer__social-icon:hover {
  opacity: 0.6;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 80px);
  }

  .footer__link {
    margin-right: 20px;
  }

  .footer__social-link {
    margin-left: 15px;
  }
}

@media screen and (max-width: 650px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 0;
  }

  .footer__copyright {
    position: relative;
    bottom: -100px;
    text-align: center;
  }

  .footer__links {
    margin: 0 auto;
    align-items: flex-start;
    width: 320px;
    justify-content: space-around;
  }

  .footer__link{
    margin-top: 0;
  }

  .footer__page-links{
    flex-direction: column;
    align-items: flex-start; 
  }

  .footer {
    width: 320px;
    height: 176px;
  }
}