.news-card-list {
  background-color: #F5F6F7;
  margin: 0 auto;
  display: grid;
  max-width: 3000px;
  padding: 62px 0 62px 0;
  grid-template-columns: 27% 27% 27%;
  grid-gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .news-card-list {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 850px) {
  .news-card-list {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 500px) {
  .news-card-list {
    margin: 0 auto;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}