.news-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(576px, 1fr));
  grid-gap: 16px;
  max-width: 1440px;
  width: calc(100% - 204px);
  margin: 0 auto;
  padding: 62px 0 62px 0;
}

@media screen and (max-width: 768px) {
  .news-card-list {
    width: calc(100% - 48px);
    grid-gap: 8px;
  }
}

@media screen and (max-width: 500px) {
  .news-card-list {
    width: calc(100% - 32px);
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(440px, 1fr));
  }
}