.news-card {
  border-radius: 10px;
  background-color: #FFFFFF;
}

.news-card__image-container {
  position: relative;
}

.news-card__keyword {
  background-color: #FFFFFF;
  position: absolute;
  left: 24px;
  top: 24px;
  width: 87px;
  height: 40px;
  border-radius: 10px;
  margin: 0;
  font-weight: 500; 
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-card__button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}


.news-card__button_delete {
  background-image: url('../../images/trash.svg');
}

.news-card__button_save {
  background-image: url('../../images/bookmark.svg');
}

.news-card__button_save:hover {
  background-image: url('../../images/bookmark-hover.svg');
}

.news-card__button_active {
  background-image: url('../../images/bookmark-active.svg');
}

.news-card__button_delete:hover {
  background-image: url('../../images/trash-hover.svg');
}

.news-card__popup {
  position: absolute;
  right: 70px;
  top: 24px;
  background-color: #FFFFFF;
  width: 159px;
  height: 40px; 
  border-radius: 10px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500; 
  font-size: 12px;
  line-height: 1.1;
  visibility: hidden;
}

.news-card__button-container:hover .news-card__popup {
     visibility: visible;
}

.news-card__image {
  width: 100%;
  height: 272px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.news-card__info-container {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 16px 12px 16px;
}

.news-card__date {
  color: #B6BCBF;
  font-size: 18px;
  margin: 0 0 15px 0;
}

.news-card__title {
  font-size: 22px;
  font-family: Roboto-Slab;
  font-weight: 400;
  margin: 0 0 10px 0;
  }

.news-card__text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-card__text {
  font-size: 16px;
}

.news-card__link {
  text-decoration: none;
  color: #B6BCBF;
  text-transform: uppercase;
}

/* @media screen and (max-width: 768px) {
  .news-card {
    width: 224px;
    height: 400px;
  }
} */

@media screen and (max-width: 500px) {
  .news-card {
  }
}